# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# log
log/

# bin
bin/
src/logdb
src/loginf

# copy of shell script
manage.sh

